{
  "config": {
    "listen_ip": "0.0.0.0",
    "listen_port": 22867,
    "blocked_ips": [],
    "ultrapeer": false,
    "max_ultrapeer_connections": 64,
    "max_leaf_connections": 64,
    "max_ttl": 4,
    "log_ignore": [],
    "data_dir": "."
  },
  "state": {
    "servent_id_hex": "00112233445566778899aabbccddeeff",
    "peers": {
      "127.0.0.1:22867": 0
    }
  }
}
