{
  "config": {
    "listenHost": "0.0.0.0",
    "listenPort": 6346,
    "ultrapeer": false,
    "monitorIgnoreEvents": [],
    "dataDir": "."
  },
  "state": {
    "serventIdHex": "00112233445566778899aabbccddeeff",
    "peers": {
      "127.0.0.1:6346": 0
    }
  }
}
